.userPage {
  background-color: aqua;
  height: 1000px;
}

.aboutPage {
  background-color: aqua;
  height: 1000px;
}

.user {
  background-color: hotpink;
  margin: 25px 50px;
  color: aliceblue;
  width: 300px;
  height: 100px;
  border: solid;
  border-color: crimson;
  border-width: 3px;
}

.scale {
  transition: 1s;
  width: 100%;
  height: 100%;
}
.scale:hover {
  transform: scale(1.4);
}

.scaleCafe {
  transition: 1s;
  width: 100%;
  height: 400px;
}
.scaleCafe:hover {
  transform: scale(1.4);
}