.userPage {
  background-color: aqua;
  height: 1000px;
}

.aboutPage {
  background-color: aqua;
  height: 1000px;
}

.user {
  background-color: hotpink;
  margin: 25px 50px;
  color: aliceblue;
  width: 300px;
  height: 100px;
  border: solid;
  border-color: crimson;
  border-width: 3px;
}